* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-size: 16px;
  font-family: 'Saira Condensed', sans-serif;
  background: #233047;
}

.container {
  max-width: 500px;
  width: 100%;
  height: 100%;

  /* background-image: url('/src/day.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  
  overflow-x: hidden;
}
img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.input-custom {
  width: 260px;
  padding: 0 0 4px 16px;
  margin-top: 40px;

  background: none;
  color: #fff;

  border: none;
  border-bottom: 3px solid rgba(255, 255, 255, .6);
  outline: none;
 
}
.input-custom:focus, .input-custom::placeholder {
  background: none;
  color: #fff;

}

.add-input {
  cursor: pointer;
  position: relative;
  margin-right: .6rem;
  color: #fff;
  font-size: 1.2rem;
  
}

.weather-info {
  position: relative;
  top: 50px;
}

.title__city {
  position: relative;
  bottom: 40px;
  color: #fff;
}

.title__city > h3 {
  font-size: 2.3rem;
  
}

.title__city > span {
  font-size: 1.2rem;
}

.weather-icon-container {
  width: 110px;
  height: 110px;

}

.temperature-info {
  font-size: rem;
  font-weight: 100;
}

.temperature-container {
  width: 100%;
  height: 200px ;
  margin-top: 100px;
  text-align: center;

  background:rgba(0, 0, 0, .15);

  clip-path: polygon(0 0, 100% 14%, 100% 100%, 0 100%);
  border-radius: 8px;
}

.temperature-style {
  position: relative;
  top: 1.9rem;

  color: #fff;
  font-size: 6rem;
  font-weight: 100;

}


.info-last-update {
  margin-top: 1.5rem;
  margin-right: .5rem;
  text-align: right;

  font-size: .9rem;
  color: #fff;

}